html, body {
    height: 20%;  /* Garante que o conteúdo ocupe toda a altura da tela */
    margin: 0;
    
}

body {
overflow-y: auto; /* Permite rolagem vertical */
width: 100%;  /* Define a largura para ocupar a tela toda */
height: 1000PX; /* Define a altura para ocupar a tela toda */
overflow-x: hidden; /* Evita rolagem horizontal */
}

.tit{
margin-top: 15% ;
width: 100%;
height: 100PX;
font-size: 70px;
display: flex;
justify-content: center;
align-items: center;
}

.categorias{
position: relative;
left: 5%;
top: -215px;
width: 50%;
font-size: 15px;
padding: 5%;
display: inline;
justify-content: center;
align-items: center;
font-family: 'Playfair Display', serif;
color: #000000; 
text-decoration: none; 
padding: 10px 90px;
height: 80px;
border-radius: 10px;
border: 2px solid #000000; 
}

a.categorias:hover{
color: rgb(116, 0, 0);
}

.dest{
    position: relative;
TOP: 15px ;
width: 100%;
font-size: 45px;
display: flex;
justify-content: center;
left: -0%;
align-items: center;
}

.product-container {
    display: flex;
    justify-content: center;
    gap: 100px; 
    margin-top: 20px;
    margin-bottom: 40px; 
}

.product-card {
    width: 250px;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    font-family: Arial, sans-serif;
}

.product-card img {
    width: 100%;
    border-radius: 8px;
}

.discount {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: orange;
    color: #fff;
    padding: 5px 10px;
    border-radius: 4px;
    font-weight: bold;
    font-size: 0.9em;
}

.product-card h3 {
    font-size: 1.1em;
    margin: 10px 0;
    color: #333;
}

.rating {
    color: #FFA500; /* Cor para as estrelas */
    margin: 5px 0;
}

.price {
    margin: 10px 0;
}

.original-price {
    text-decoration: line-through;
    color: #999;
    font-size: 0.9em;
}

.discounted-price {
    color: #e60000;
    font-size: 1.2em;
    font-weight: bold;
}

.banner{
    width: 95%;
    margin-left: 3%;
}
.voltar{
display: flex;
margin-left: 0%;
color: rgb(116, 0, 0);
}
a.voltar:hover{
    color: rgb(0, 0, 0);
    }
.seta{
    width: 2%;
    height: 2%;
margin-left: 0%;
padding: 2%;
}
.inf{
    margin-top: -7% ;
width: 100%;
height: 100PX;
font-size: 45px;
display: flex;
justify-content: center;
align-items: center;
}
.inf :hover{
    color: rgb(116, 0, 0);
}
.carrinho{
        width: 2%;
        height: 2%;
        margin-left: 90%;
        margin-top: -5%;
}
.texto{
    font-size: 20px;
    width: 80%;
    margin-left: 10%;

}

.borda-texto {
    border: 1px solid rgb(116, 0, 0); /* Adiciona a borda */
    padding: 15px;
    border-radius: 10px;
    margin: 20px auto;
    width: 85%;              /* Ajusta o tamanho */
}